---
interface Props {
    title: string;
    className?: string;
}

const { title, className = "" } = Astro.props;
---

<div class={`bg-somno-light/50 border border-somno-dark rounded-2xl p-8 hover:border-somno transition duration-300 ${className}`}>
    <h2 class="text-2xl font-bold text-somno-dark mb-6 border-b border-somno-dark pb-2">
        {title}
    </h2>
    <slot />
</div>