---
interface Props {
    className?: string;
    data?: { nombre_prueba?: string; puntaje?: number | null };
}
const { className = "", data = {} } = Astro.props;
---

<div class={`puntaje-extra-group flex flex-col md:flex-row gap-4 items-end bg-somno-dark/30 p-3 rounded-lg border border-somno-dark relative ${className}`}>
    <button type="button" class="btn-delete-puntaje hidden absolute -top-2 -right-2 bg-somno-dark text-slate-50 hover:text-red-500 rounded-full p-1 border border-somno-dark transition-colors cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-3 h-3"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" /></svg>
    </button>

    <div class="flex grow flex-col w-full">
        <label class="text-xs font-medium text-somno-dark mb-1">Nombre de la Prueba</label>
        <input type="text" name="extra_prueba_nombre" value={data.nombre_prueba || ''} class="w-full p-2 border border-somno-dark bg-somno-dark/30 rounded-lg focus:outline-none focus:ring-1 focus:ring-somno-dark text-white placeholder-gray-600 text-sm">
    </div>

    <div class="flex flex-col w-full md:w-32">
        <label class="text-xs font-medium text-somno-dark mb-1">Puntaje</label>
        <input type="number" name="extra_prueba_valor" value={data.puntaje ?? ''} class="w-full p-2 border border-somno-dark bg-somno-dark/30 rounded-lg focus:outline-none focus:ring-1 focus:ring-somno-dark text-white text-center font-mono text-sm">
    </div>
</div>